.nav-color{
	background-color: #0b3148;
}
.text-white{
	color: white !important;
}
.background-img-primary{
	background-image: url('../img/fondo1.jpg');
	background-size: cover;
	background-position: center;
}
.title-img{
	color: white !important;
	font-size: 65px;
}
.text-img{
	font-size: 25px;
}
.boton-scroll{
	height: 55px;
    border-radius: 12px;
    background: rgba(247, 240, 240, 0.8);
}
.container-text-left{
	width: 70%;
}
.background-img-horizontal{
	background-color: rgba(208, 208, 208, 0.17);	
    padding: 65px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-content-horizontal{
	width: 80%
}
.margin-top-container-center{
	margin-top: 2em;
}
.container-text-center{
	width: 80%;
}
.img-content-vertical{
	width: 40%;
	height: 100%;
}
#content2{
	background-color: rgba(204, 204, 204, 0.27);
}
.divs-products{
	background-color: white;
	padding-bottom: 2em;
	border-radius: 10px;
}
.container-icons{
	font-size: 90px;
	display: flex;
    justify-content: center;
}


/*EFECTOS ANIMATIONS*/
#img1, #img2, #text1, #div1, #div2, .div3{
	visibility: hidden;
}
.background-products{
	background-color: rgba(11,19,72,1);
}